---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users
    body:
      encoding: UTF-8
      string: vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"subscription_id":3479984,"plan_id":594469,"user_id":17368056,"user_email":"test@example.com","marketing_consent":false,"update_url":"https:\/\/checkout.paddle.com\/subscription\/update?user=17368056&subscription=3479984&hash=173a39c6f694abd07ce2ef14bba39546375343cf7078e2fc5cefcc2c5ac89d29","cancel_url":"https:\/\/checkout.paddle.com\/subscription\/cancel?user=17368056&subscription=3479984&hash=85ea42ca76e49ab9cee8cde56ea07e3fcac6c35efa3e9bc0e53284602e17a56d","state":"active","signup_date":"2020-05-22
        16:21:38","last_payment":{"amount":0,"currency":"USD","date":"2020-05-22"},"linked_subscriptions":[],"payment_information":{"payment_method":"card","card_type":"visa","last_four_digits":"0065","expiry_date":"06\/2024"},"next_payment":{"amount":5.95,"currency":"USD","date":"2020-06-22"}}]}'
  recorded_at: Fri, 22 May 2020 16:29:40 GMT
recorded_with: VCR 5.1.0
