---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users_update
    body:
      encoding: UTF-8
      string: subscription_id=3479984&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":116,"message":"One or more required
        arguments are missing"}}'
  recorded_at: Fri, 22 May 2020 17:05:59 GMT
recorded_with: VCR 5.1.0
