---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/users_update
    body:
      encoding: UTF-8
      string: currency=USD&quantity=1&recurring_price=10.00&subscription_id=3479984&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"subscription_id":3479984,"user_id":17368056,"plan_id":594469,"next_payment":{"amount":17.85,"currency":"USD","date":"2020-06-22"}}}'
  recorded_at: Fri, 22 May 2020 17:06:00 GMT
recorded_with: VCR 5.1.0
