---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/user/17368056/transactions
    body:
      encoding: UTF-8
      string: vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"order_id":"14854225-10710435","checkout_id":"57064784-chrec5910826421-58f0e94797","amount":"0.00","currency":"USD","status":"completed","created_at":"2020-05-23
        08:47:55","passthrough":null,"product_id":594469,"is_subscription":true,"is_one_off":false,"subscription":{"subscription_id":3484448,"status":"active"},"user":{"user_id":17368056,"email":"test@example.com","marketing_consent":false},"receipt_url":"https:\/\/my.paddle.com\/receipt\/14854225-10710435\/57063784-chrec5910826421-58f0e94697"},{"order_id":"14841377-10693223","checkout_id":"57013079-chre0d8968b883c-94b82a41db","amount":"0.00","currency":"USD","status":"completed","created_at":"2020-05-22
        16:21:39","passthrough":null,"product_id":594469,"is_subscription":true,"is_one_off":false,"subscription":{"subscription_id":3479984,"status":"deleted"},"user":{"user_id":17368056,"email":"test@example.com","marketing_consent":false},"receipt_url":"https:\/\/my.paddle.com\/receipt\/14841378-10693223\/57013179-chre0d8968b883c-94b82a31db"}]}'
  recorded_at: Sat, 23 May 2020 10:55:14 GMT
recorded_with: VCR 5.1.0
