---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/product/generate_license
    body:
      encoding: UTF-8
      string: allowed_uses=10&product_id=594512&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":108,"message":"Unable to find requested
        product"}}'
  recorded_at: Sun, 24 May 2020 08:04:16 GMT
recorded_with: VCR 5.1.0
