---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/product/generate_license
    body:
      encoding: UTF-8
      string: allowed_uses=10&product_id=594512&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"license_code":"2DEDF6A4-86420251-0927C417-43523113-CA22C29B",
        "expires_at":"2018-10-10"}}'
  recorded_at: Sun, 24 May 2020 08:04:35 GMT
recorded_with: VCR 5.1.0
