---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/payment/refund
    body:
      encoding: UTF-8
      string: order_id=10710436&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"refund_request_id":12345}}'
  recorded_at: Sun, 24 May 2020 16:00:59 GMT
recorded_with: VCR 5.1.0
