---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/12345678/charge
    body:
      encoding: UTF-8
      string: amount=0.00&charge_name=Test&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":119,"message":"Unable to find requested
        subscription"}}'
  recorded_at: Sat, 23 May 2020 08:58:33 GMT
recorded_with: VCR 5.1.0
