---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/3484448/charge
    body:
      encoding: UTF-8
      string: amount=0.00&charge_name=Test&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"invoice_id":1,"subscription_id":1,"amount":"10.00",
          "currency":"USD","payment_date":"2018-09-21","receipt_url":"https://my.paddle.com/receipt/1-1/3-chre3a53a2724c6-42781cb91a"}}'
  recorded_at: Sat, 23 May 2020 08:58:32 GMT
recorded_with: VCR 5.1.0
