---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/payments_reschedule
    body:
      encoding: UTF-8
      string: date=2020-12-31&payment_id=10710436&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"response":null}'
  recorded_at: Sat, 23 May 2020 08:50:42 GMT
recorded_with: VCR 5.1.0
