---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/payments
    body:
      encoding: UTF-8
      string: vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"id":10693223,"subscription_id":3479984,"amount":0,"currency":"USD","payout_date":"2020-05-22","is_paid":1,"is_one_off_charge":false,"receipt_url":"https:\/\/my.paddle.com\/receipt\/14841377-10493223\/57013079-chre0d7968b883c-94b82a41db"},{"id":10710435,"subscription_id":3484448,"amount":0,"currency":"USD","payout_date":"2020-05-23","is_paid":1,"is_one_off_charge":false,"receipt_url":"https:\/\/my.paddle.com\/receipt\/14854225-10710435\/57064784-chrec5910826421-48f0e98797"},{"id":10710436,"subscription_id":3484448,"amount":0,"currency":"USD","payout_date":"2020-06-23","is_paid":0,"is_one_off_charge":false}]}'
  recorded_at: Sat, 23 May 2020 08:49:14 GMT
recorded_with: VCR 5.1.0
