---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/payments
    body:
      encoding: UTF-8
      string: vendor_auth_code&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":107,"message":"You don''t have permission
        to access this resource"}}'
  recorded_at: Sat, 23 May 2020 08:34:18 GMT
recorded_with: VCR 5.1.0
