---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/product/delete_coupon
    body:
      encoding: UTF-8
      string: coupon_code=9F9F78DA&product_id=594470&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"response":null}'
  recorded_at: Sun, 24 May 2020 07:48:57 GMT
recorded_with: VCR 5.1.0
