---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.1/product/update_coupon
    body:
      encoding: UTF-8
      string: allowed_uses=20&coupon_code=NOVALIDCODE&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"response":{"updated":0}}'
  recorded_at: Sun, 24 May 2020 07:41:04 GMT
recorded_with: VCR 5.1.0
