---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/product/list_coupons
    body:
      encoding: UTF-8
      string: product_id=594469&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":[{"coupon":"9F9F78DA","description":"","discount_type":"percentage","discount_amount":"1.000000000","discount_currency":null,"allowed_uses":1,"times_used":0,"is_recurring":true,"expires":null}]}'
  recorded_at: Sun, 24 May 2020 07:41:05 GMT
recorded_with: VCR 5.1.0
