---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.1/product/create_coupon
    body:
      encoding: UTF-8
      string: allowed_uses=10&coupon_type=checkout&discount_amount=100&discount_type=percentage&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"coupon_codes":["55FB97E5"]}}'
  recorded_at: Sun, 24 May 2020 07:41:08 GMT
recorded_with: VCR 5.1.0
