---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/alert/webhooks
    body:
      encoding: UTF-8
      string: vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"current_page":1,"total_pages":1,"alerts_per_page":10,"total_alerts":0,"query_head":"2020-05-23
        11:00:40","data":[]}}'
  recorded_at: Sat, 23 May 2020 11:00:40 GMT
recorded_with: VCR 5.1.0
