---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/product/get_products
    body:
      encoding: UTF-8
      string: vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"total":1,"count":1,"products":[{"id":594512,"name":"Test","description":"","base_price":null,"sale_price":null,"screenshots":[],"icon":"https:\/\/static.paddle.com\/assets\/images\/checkout\/default_product_icon.png"}]}}'
  recorded_at: Sun, 24 May 2020 08:13:43 GMT
recorded_with: VCR 5.1.0
