---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/modifiers/create
    body:
      encoding: UTF-8
      string: modifier_amount=1.00&modifier_description=Test&subscription_id=3484448&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"response":{"subscription_id":3484448,"modifier_id":143433}}'
  recorded_at: Sat, 23 May 2020 09:12:21 GMT
recorded_with: VCR 5.1.0
