---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/modifiers/delete
    body:
      encoding: UTF-8
      string: modifier_id=1234567&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":123,"message":"Unable to find requested
        modifier"}}'
  recorded_at: Sat, 23 May 2020 09:12:19 GMT
recorded_with: VCR 5.1.0
