---
http_interactions:
- request:
    method: post
    uri: https://vendors.paddle.com/api/2.0/subscription/plans_create
    body:
      encoding: UTF-8
      string: plan_length=1&plan_name=Test&plan_trial_days=30&plan_type=month&vendor_auth_code=<VENDOR_AUTH_CODE>&vendor_id=<VENDOR_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":{"code":125,"message":"Main currency price
        was not provided"}}'
  recorded_at: Fri, 22 May 2020 16:06:14 GMT
recorded_with: VCR 5.1.0
